<center>
	<div id="user-div"> 
		<div style="width: 50%; float: left; text-align: center; padding-top: 15px">
			<img src="http://natres.iut.ac.ir/sites/natres.iut.ac.ir/files/default_images/tpl_img_1.png" alt="HTML5 Icon" style="width:128px;height:128px;"> 
		</div>

		<div style="width: 50%; float: right; text-align: left; padding: 20px; border-left: solid" id="border-left">
			<p>First name: <%= @user_profile.first_name %></p>
			<p>Last name: <%= @user_profile.last_name %></p>
			<p>Email: <%= @user_profile.email %></p>
			<p>Username: <%= @user_profile.username %></p>
		</div>
	</div>
</center>

<body class="main">
	<center> <h2 id="user-feed"> <%= @user_profile.first_name %>'s Questions </h2> </center>

	<div style="margin-top: 30px">
		<% @questions.each do |question| %>
  		<% if question.user_id == @user_profile.id && question.answers.first %> 
				<div class="container" id="body-feed">
      	<h3 id="question-feed"><%= question.question %></h3>
        <p id="name-first-answer"><%= User.find(Question.find(Answer.find(question.id)).id).first_name %></p>
        <p><%= question.answers.first.answer %></p>
          <form method=post action="/add_answer/<%= question.id %>" >
            <input type=text placeholder = "Answer here" name="answer">
            <input type=submit value="Add answer">
          </form>
          <button type="button" id ="show-button" data-toggle="collapse" data-target="#answers<%=question.id %>">Show all answers</button>
          <div id="answers<%=question.id %>" class="collapse out">
            <% question.answers.each do |answer| %>  
              <p id="answer-name-feed"> <%= User.find(answer.user_id).first_name %> </p>
              <p> <%= answer.answer %> </p>
              <form method=post action="/upvote_answer/<%= answer.id %>" >
                <input type=submit value="|<%= answer.upvotes_answer %>| Upvote answer">
              </form>
            <% end %>
      		</div>
    		</div>
  		<% end %>
  	<% end %>
  </div>
</body>

<body class="main">
	<center> <h2 id="user-feed"> <%= @user_profile.first_name %>'s Unanswered Questions </h2> </center>

	<div style="margin-top: 30px">
		<% @questions.each do |question| %>
  		<% if question.user_id == @user_profile.id && question.answers.first == nil %> 
				<div class="container" id="body-feed">
      	<h3 id="question-feed"><%= question.question %></h3>
        <p id="name-first-answer"><%= User.find(question.user_id).first_name %></p>
        <p> <%= question.details %> </p>
          <form method=post action="/add_answer/<%= question.id %>" >
            <input type=text placeholder = "Answer here" name="answer">
            <input type=submit value="Add answer">
          </form>
      		</div>
    		</div>
  		<% end %>
  	<% end %>
  </div>
</body>

<body class="main">
	<center> <h2 id="user-feed"> <%= @user_profile.first_name %>'s Answers </h2> </center>

	<div style="margin-top: 30px">
		<% @answers.each do |answer| %>
  		<% if answer.user_id == @user_profile.id && answer.answer != nil %> 
				<div class="container" id="body-feed">
      	<h3 id="question-feed"><%= Question.find(answer.question_id).question %></h3>
        <p> <%= User.find(answer.user_id).first_name %> </p>
        <p id="name-first-answer"><%= answer.answer %></p>
          <form method=post action="/add_answer/<%= Question.find(answer.question_id).id %>" >
            <input type=text placeholder = "Answer here" name="answer">
            <input type=submit value="Add answer">
          </form>
      		</div>
    		</div>
  		<% end %>
  	<% end %>
  </div>
</body>




