
<body class="main">
<% @questions.each do |question| %>
  <% if question.answers.first %> 
    <div class="container" id="bootstrapoverrides">
      <h3><%= question.question %></h3>
        <p><%= question.answers.first.answer %></p>
              <form method=post action="/add_answer/<%= question.id %>" >
                <input type=text placeholder = "Answer here" name="answer">
                <input type=submit value="Add answer">
              </form>
          <button type="button" data-toggle="collapse" data-target="#answers<%=question.id %>">Show all answers</button>
            <div id="answers<%=question.id %>" class="collapse out">
                <% question.answers.each do |answer| %>  
              <p> <%= answer.answer %> </p>
                <form method=post action="/upvote_answer/<%= question.answers.first.id %>" >
                  <input type=submit value="|<%= question.answers.first.upvotes_answer %>| Upvote answer">
                </form>
            <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</body>


